@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes windowShow {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

@keyframes windowHide {
  0% {
    opacity: 1;
    transform: translateX(0px);
  }
  100% {
    opacity: 0;
    transform: translateX(10px);
  }
}

.tabs-enter-active,
.tabs-leave-active {
  transition: all 0.5s;
  max-width: 100px;
}

.tabs-enter-from,
.tabs-leave-to {
  opacity: 0;
  transform: translateX(-20px);
  max-width: 0px;
}

.windowShow {
  animation: windowShow 0.3s ease-in-out;
}

.windowHide {
  animation: windowHide 0.3s ease-in-out;
}

*::-webkit-scrollbar {
  height: 10px;
}

.nav-enter-active,
.nav-leave-active {
  transition: all 0.4s;
  max-width: 1000px;
}

.nav-enter-from,
.nav-leave-to {
  max-width: 0px;
  opacity: 0;
}

.nav-move {
  position: relative;
}

.menuBack {
  background: linear-gradient(360deg, yellow, purple);
}
